extends layout

block content
  .container
    h1.mt-5.mb-3 #{title}
    p.lead Welcome to my Bootstrap-styled webpage.
  
    .card.mt-3
            .card-body
              h5.card-title Card Title
              p.card-text
                | This is a simple Bootstrap card with some text content.
                | You can customize this text as needed.