body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dashboard-table {
  margin-bottom: 0;
  border-left: 1px solid var(--bs-border-color);
  border-right: 1px solid var(--bs-border-color);
}